.node circle {
fill: rgb(255, 255, 255);
stroke: rgb(0, 0, 0);
stroke-width: 3px;
}

.node text { font: 16px sans-serif; }

.link {
fill: none;
stroke-linecap: round;
}

#container_bandit{
    display: flex;
    flex-direction: row;
}

#buttons_bandit{
    display: flex; 
    justify-content: space-evenly;

} 
#buttons_bandit button, input{
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px 5px;
}
#container_bandit td{
    text-align: center;
    padding: 8.75px!important;
}
#container_bandit table{
    display:table;
    width:unset;
    margin-left: auto;
    margin-right: auto;
}
#full_bandit{
    background-color: #ffffff;
    color:#000000!important;
    padding-left: 10px;
}
#full_bandit h2{
    color:#000000!important;
}
#full_bandit button{
    color:#000000!important;
}
